.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    padding: 1.5rem;
    background-color: var(--card-product);
    color: var(--color-font-alt);
    width:400px;
    height:4    00px;
    gap:40px;
}

.card-container h2 {
    font-weight:800;
    padding:20px 0px;
}

.card-imagem img {
    width: 250px;
}

.card-meio {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.card-nome {
    display:flex;
    align-items:baseline;
    gap:8px;
}

.card-botoes {
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;

}

.card-botoes a {
    text-decoration: none;
}

.btn-comprar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border: 1px solid var(--color-font-sec);
    color: var(--color-font-sec);
    padding: 5px 60px;
    gap: 5px;
    font-size: 14px;
}
.btn-comprar:hover {
    color:#fff;
}

.card-botoes p {
    font-size:17px;
    margin:0;
    color:#fff;
}

