.container-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: initial;
    flex-direction: column;
    background-color: #222831;
    border-radius: 8px;
    padding: 2.5rem;
    border-bottom: 3px solid #31363F;
    gap: 30px
}

.formulario-inputs input, select {
    border: none;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.15);
    padding: 5px;
    border-radius: 12px;
}

.formulario-inputs label {
    width:100%
}

.formulario-inputs {
    display: flex;
    align-items: center;
    gap: 10px;
}

.formulario-botao {
    display: flex;
    justify-content: center;
    align-items: center;
}
