.container-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: initial;
    flex-direction: column;
    background-color: #000000;
    border-radius: 8px;
    padding: 2.5rem;
    border-bottom: 3px solid #31363F;
    gap: 30px;
    color: var(--color-font-sec);
}

.formulario-inputs label {
    width:100%
}

.formulario-inputs {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.formulario-inputs input {
    background: transparent;
    color: var(--color-font-sec);
    border-bottom: 1px solid var(--color-principal);
    outline:none;
    width: 100%;
}

.formulario-botao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-cat {
    background-color:#000;
    color:white;
    border-bottom:1px solid white;
    outline:none;
}

.formulario-image {
    width:200px;
    height:20px;
}


