.container-produtos {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.container-intro h1 {

}

.categoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    gap:200px 50px;
}

.title-intro {
    position: relative;
}

#title-home {
    z-index: 2;
}

#can-green {
    min-width:100px;
    width:25vw;
    top:10%;
    left:0;
    position: absolute;
    z-index: 1;
}

#can-yellow {
    min-width: 100px;
    width:35vw;
    top: -70%;
    right: -15%;
    position: absolute;
    z-index: 3;
}