.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 30px 50px;
    height: 700px;
    background-color: var(--bg-color-sec);
    border-radius: 32px;
    color: var(--color-font-sec);
}


.cadastro {
    width:500px;
    height: auto;
    padding:30px;
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    gap: 30px;
}

.login-inputs {
    display: flex;
    flex-direction:column;  
    align-items: start;
    gap:10px;
}

#logoNav {
    width: 40px;
}

.login-inputs input {
    background: transparent;
    color: var(--color-font-sec);
    border-bottom: 1px solid var(--color-font-sec);
    outline:none;
    width: 400px;
}

.input-email::placeholder {
    background: url("../img/icone-email.png") no-repeat;
    background-size: 24px;
    background-position: right;
}
.input-senha::placeholder {
    background: url("../img/icons8-chave-24.png") no-repeat;
    background-size: 24px;
    background-position: right;
}

.input-usuario::placeholder {
    background: url("../img/icons8-nome.png") no-repeat;
    background-size: 24px;
    background-position: right;
}

.input-nome::placeholder {
    background: url("../img/icons8-person-48.png") no-repeat;
    background-size: 24px;
    background-position: right;
}



.login form button {
    background-color: #5EA963;
    border-radius: 12px;
    padding: 5px;
    color: var(--color-font);
    width: 100px;
}

.login form .botoes {
    display: flex;
    justify-content: end;
}

.login-cima {
    display: flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height: fit-content;
}

.cima-esquerda {
    width: 100%;
    display: flex;
    justify-content: start;
}

.cima-direita {
    width: 100%;
    display: flex;
    justify-content: end;
}