@{
    ViewData["Title"] = "Cadastrar Fornecedor";
}

@model TCM.Models.Fornecedor

<main role="main">
    <br />
    <br />
    <section class="container">
        <aside class="col-sm-4">
            <h3 class="subtitle-doc">
                Primeiro Acesso
            </h3>
            <div id="code_login_1">
                <div class="card">
                    <article class="card-body">
                        <h4 class="card-title mb-4 mt-1">Entrar</h4>
                        <form method="post">
                            <div class="form-group">
                                <label>E-mail</label>
                                <input asp-for="email" required class="form-control" placeholder="E-mail" type="text" maxlength="40">
                            </div>
                            <div class="form-group">
                                <label>Nome da Empresa</label>
                                <input asp-for="usuario" required class="form-control" placeholder="Usuario" type="text" maxlength="40">
                            </div>
                            <div class="form-group">
                                <label>Senha</label>
                                <input asp-for="senha" required class="form-control" placeholder="Senha" type="password" maxlength="16">
                            </div>
                            <div class="form-group">
                                <label>CNPJ</label>
                                <input asp-for="CNPJ" required class="form-control" placeholder="CNPJ" type="text" maxlength="20">
                            </div>
                            <br />
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Cadastrar </button>
                            </div>
                        </form>
                    </article>
                </div>
            </div>
        </aside>
    </section>
</main>