@using System.Security.Claims
@{
    ViewData["Title"] = "Meus Dados";
}

@model TCM.Models.Usuario

<h2>Seus Dados</h2>

<div class="container-formulario">
    <form class="formulario" asp-action="EditarConta" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="formulario-inputs">
            <input asp-for="CodUsu" readonly hidden />
            <span asp-validation-for="CodUsu"></span>
        </div>

        <div class="formulario-inputs">
            <label>Nome</label>
            <input asp-for="Nome" required />
            <span asp-validation-for="Nome"></span>
        </div>

        <div class="formulario-inputs">
            <label>Usuario</label>
            <input asp-for="usuario" type="text" required />
            <span asp-validation-for="usuario"></span>
        </div>

        <div class="formulario-inputs">
            <label>Email</label>
            <input asp-for="email" type="email" required />
            <span asp-validation-for="email"></span>
        </div>
        <div class="formulario-inputs">
            <label>Senha</label>
            <input asp-for="senha" type="password" required />
            <span asp-validation-for="senha"></span>
        </div>

        <div class="formulario-botao">
            <button class="btn-comprar" type="submit">Editar</button>
        </div>
    </form>
</div>