@{
	ViewData["Title"] = "Funcionario Pedidos";
}
@model IEnumerable<TCM.Models.Pedido>;

<div class="container-carrinho">
    <div class="carrinho">
        <div class="carrinho-pedidos">
            @foreach (var item in Model)
            {
                if (item.ImagemPed != null)
                {
                    //Transforma o blob para um jeito que dê para a imagem ser interpretada
                    item.ImagemBase64 = Convert.ToBase64String(item.ImagemPed);
                }
                <div class="pedidos">
                    <div class="pedido-img">
                        <img src="data:image/png;base64,@item.ImagemBase64" alt="Imagem do Produto" />
                    </div>
                    <div>
                        <h2>@item.NomeProd</h2>
                        <h2></h2>
                    </div>
                    <div>
                        <p>@item.QtdPed x R$@item.PrecoPed</p>
                        <h5>Data: @item.DataPed</h5>
                    </div>
                </div>
            }
        </div>
    </div>
</div>