@{
    ViewData["Title"] = "Painel Administrador";
}


<div class="container-admin">
    <h2>Seja Bem-Vindo, <span style=color:rgb(38,155,110)>Administrador</span></h2>
    <div class="admin">
        <h1>Menu <span>Admin</span></h1>
        <div class="link-admin"><a asp-controller="Produto" asp-action="Index">Produtos <i class="bi bi-box-seam"></i></a></div>
        <div class="link-admin"><a asp-controller="Conta" asp-action="Funcionarios">Funcionários <i class="bi bi-person-vcard-fill"></i></a></div>
        <div class="link-admin"><a asp-controller="Conta" asp-action="Fornecedores">Fornecedores <i class="bi bi-bus-front"></i></a></div>
    </div>
</div>