@{
    ViewData["Title"] = "Painel Administrador";
}


<div class="container-admin">
    <div class="admin">
        <h1>Funções <span id="textAdmin">Administrador</span></h1>
            <div class="link-admin">
                <a asp-controller="Produto" asp-action="Index">Produtos</a>
                <i class="bi bi-basket3"></i>
            </div>
            <div class="link-admin">
                <a asp-controller="Produto" asp-action="PainelPromocoes">Promoções</a>
                <i class="bi bi-newspaper"></i>
            </div>
            <div class="link-admin">
                <a asp-controller="Produto" asp-action="Vendas">Vendas</a>
                <i class="bi bi-currency-dollar"></i>   
            </div>
            <div class="link-admin">
                <a asp-controller="Conta" asp-action="Administradores">Administradores</a>
                <i class="bi bi-person-badge"></i>
            </div>
            <div class="link-admin">
                <a asp-controller="Conta" asp-action="Colaboradores">Colaboradores</a>
                <i class="bi bi-truck"></i>
            </div>
    </div>
</div>