@{
    ViewData["Title"] = "Painel Administrador";
}

<h2>Seja Bem-Vindo, Administrador</h2>
<ul class="d-flex gap-5">
    <li><a class="btn btn-primary" asp-controller="Produto" asp-action="Index">Painel de Produtos</a></li>
    <li><a class="btn btn-primary" asp-controller="Conta" asp-action="Funcionarios">Painel de Funcionarios</a></li>
    <li><a class="btn btn-primary" asp-controller="Conta" asp-action="Fornecedores">Painel de Fornecedores</a></li>
    <li><a class="btn btn-primary" asp-controller="Conta" asp-action="CadastrarFuncionario">Cadastrar Funcionario</a></li>
    <li><a class="btn btn-primary" asp-controller="Conta" asp-action="CadastrarFornecedor">Cadastrar Fornecedor</a></li>
</ul>