@{
    ViewData["Title"] = "Painel Administrador";
}


<div class="container-admin">
    <div class="admin">
        <h1>Funções Administrador</h1>
        <div class="link-admin"><a asp-controller="Produto" asp-action="Index">Produtos</a></div>
        <div class="link-admin"><a asp-controller="Produto" asp-action="PainelPromocoes">Promoções</a></div>
        <div class="link-admin"><a asp-controller="Produto" asp-action="Vendas">Vendas</a></div>
        <div class="link-admin"><a asp-controller="Conta" asp-action="Funcionarios">Funcionários</a></div>
        <div class="link-admin"><a asp-controller="Conta" asp-action="Fornecedores">Fornecedores</a></div>
    </div>
</div>