@{
    ViewData["Title"] = "Meus Pedidos";
}

@{
    decimal total = 0;
}

@model IEnumerable<Pedido>

@if (!Model.Any())
{
    <main class="container-tudo">
        <p class="title-offner">Você ainda não fez nenhum pedido!</p>
    </main>
}
else
{ 
    <div class="container-carrinho">
        <div class="carrinho">
            <div class="carrinho-pedidos">
                @foreach (var item in Model)
                {
                    if (item.ImagemPed != null)
                    {
                        //Transforma o blob para um jeito que dê para a imagem ser interpretada
                        item.ImagemBase64 = Convert.ToBase64String(item.ImagemPed);
                    }
                    total += item.Total;
                    <div class="pedidos">
                        <div class="pedido-img">
                            <img src="data:image/png;base64,@item.ImagemBase64" alt="Imagem do Produto" />
                        </div>
                        <div>
                            <h2>@item.NomeProd</h2>
                            <h2></h2>
                        </div>
                        <div>
                            <p>@item.QtdPed x R$@item.PrecoPed</p>
                            <h5>Data: @item.DataPed</h5>
                        </div>
                    </div>
                }
            </div>
            <div class="carrinho-total">
                <h4>Resumo</h4>
                <span class="divisor"></span>
                <p>Subtotal: R$@total</p>
                <p>Total: R$@total</p>
            </div>
        </div>
    </div>
}