@{
    ViewData["Title"] = "Meus Pedidos";
}

@{
    decimal total = 0;
}

@model IEnumerable<Produto>

@if (!Model.Any())
{
    <main class="container-tudo">
        <p class="title-offner">Você ainda não fez nenhum pedido!</p>
    </main>
}
else
{ 
    <div class="container-carrinho">
        <div class="carrinho">
            <div class="carrinho-pedidos">

                @foreach (var produto in Model)
                {
                    decimal totalPedido = produto.QuantidadeDoPedido * produto.Preco;
                        
                        if (produto.Imagem != null)
                        {
                            //Transforma o blob para um jeito que dê para a imagem ser interpretada
                            produto.ImagemBase64 = Convert.ToBase64String(produto.Imagem);
                        }
                        <a class="pedidos" asp-action="DetalhesPedido" asp-controller="Conta" asp-route-id="@produto.IdPedido">
                            <div class="pedido-img">
                                <img src="data:image/png;base64,@produto.ImagemBase64" alt="Imagem do Produto" />
                            </div>
                            <div>
                                <h2>@produto.NomeProd</h2>
                            </div>
                            <div>
                                <p>@produto.QuantidadeDoPedido x R$@produto.Preco</p>
                                <p>R$@totalPedido</p>
                                <h5>Data: @produto.DataPed</h5>
                            </div>
                            </a>
					}
                        
                
            </div>
        </div>
    </div>
}

