@{
    ViewData["Title"] = "Meus Pedidos";
    List<Produto> produtos = ViewBag.Produtos;
}

@{
    decimal total = 0;
}

@model IEnumerable<Pedido>

@if (!Model.Any())
{
    <main class="container-tudo">
        <p class="title-offner">Você ainda não fez nenhum pedido!</p>
    </main>
}
else
{ 
    <div class="container-carrinho">
        <div class="carrinho">
            <div class="carrinho-pedidos">
                @foreach (var item in Model)
                {
                    <div class="pedidos">
					@foreach (var produto in produtos)
					{
                        if (produto.Imagem != null)
                        {
                            //Transforma o blob para um jeito que dê para a imagem ser interpretada
                            produto.ImagemBase64 = Convert.ToBase64String(produto.Imagem);
                        }
                        total += produto.Preco;
                            <div class="pedido-img">
                                <img src="data:image/png;base64,@produto.ImagemBase64" alt="Imagem do Produto" />
                            </div>
                            <div>
                                <h2>@produto.NomeProd</h2>

                            </div>
                            <div>
                                <p>@produto.QuantidadeDoPedido x R$@produto.Preco</p>
                                <p>R$@total</p>
                            </div>
					}
                        <h5>Data: @item.DataPed</h5>
                    </div>
                }
            </div>
        </div>
    </div>
}