@{
    ViewData["Title"] = "Meus Pedidos";
}
@model IEnumerable<Pedido>

@if (!Model.Any())
{
    <p>Você ainda não fez nenhum pedido!</p>
}
else
{
    <div class="container-carrinho">
        <div class="container-cards-price">
            <div class="cart-boxes">
                @foreach (var item in Model)
                {
                    if (item.ImagemPed != null)
                    {
                        //Transforma o blob para um jeito que dê para a imagem ser interpretada
                        item.ImagemBase64 = Convert.ToBase64String(item.ImagemPed);
                    }
                    <div class="cart-box">
                        <div class="cart-img">
                            <img src="data:image/png;base64,@item.ImagemBase64" alt="Imagem do Produto" />
                        </div>
                        <div>
                            <h2>@item.NomeProd</h2>
                            <p>Quantidade: @item.QtdPed</p>
                        </div>
                        <div>
                            <h5>Preço: R$@item.PrecoProd</h5>
                        </div>
                        <div>
                            <h5>Total: R$@item.Total</h5>
                        </div>
                        <div>
                            <h5>Data: @item.DataPed</h5>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}