@{
}
@model TCM.Models.Usuario

<h1>Seja Bem-Vindo, @Model.usuario</h1>
<div>
    <ul>
        <li><a>Meus Dados</a></li>
        <li><a>Meus Pedidos</a></li>
        <li><a>Meu Carrinho</a></li>
    </ul>
</div>