@{
    ViewData["Title"] = "Painel Fornecedor";
}
<link rel="stylesheet" href="~/css/fornecedor.css" asp-append-version="true" />

<div class="conrainer-fornecedor">
    <h2>Seja bem-vindo, <span style=color:rgb(38,155,110)>Fornecedor</span></h2>
    <div class="fornecedor">
        <h1>Menu <span>Fornecedor</span></h1>
        <div class="link-fornecedor"><a asp-controller="Produto" asp-action="ProdutosFornecedor">Ver Produtos <i class="bi bi-box-seam"></i></a></div>
        <div class="link-fornecedor"><a asp-controller="Produto" asp-action="ProdutosFornecedor">Editar <i class="bi bi-person-vcard-fill"></i></a></div>
        <div class="link-fornecedor"><a asp-controller="Produto" asp-action="ProdutosFornecedor">Excluir <i class="bi bi-bus-front"></i></a></div>
    </div>
</div>