@{
    ViewData["Title"] = "Painel Colaborador";
}
<link rel="stylesheet" href="~/css/fornecedor.css" asp-append-version="true" />

<div class="container-admin">
    <div class="admin">
        <h1>Funções <span id="textAdmin">Fornecedor</span></h1>
        <div class="link-admin">
            <a asp-controller="Produto" asp-action="ProdutosColaborador">Produtos</a>
            <i class="bi bi-basket3"></i>
        </div>
        <div class="link-admin">
            <a asp-controller="Produto" asp-action="VendasColaborador">Vendas</a>
            <i class="bi bi-basket3"></i>
        </div>
    </div>
</div>