@{
    ViewData["Title"] = "Painel Colaborador";
}
<link rel="stylesheet" href="~/css/fornecedor.css" asp-append-version="true" />

<div class="container-fornecedor">
    <div class="fornecedor">
        <h1>Funções Fornecedor</h1>
        <div class="link-fornecedor"><a asp-controller="Produto" asp-action="ProdutosFornecedor">Ver Produtos <i class="bi bi-box-seam"></i></a></div>
        <div class="link-fornecedor"><a asp-controller="Produto" asp-action="ProdutosFornecedor">Alterar Produtos<i class="bi bi-person-vcard-fill"></i></a></div>
        <div class="link-fornecedor"><a asp-controller="Produto" asp-action="ProdutosFornecedor">Excluir Produtos<i class="bi bi-bus-front"></i></a></div>
    </div>
</div>