@model TCM.Models.Usuario

@{
    ViewData["Title"] = "Cadastrar";
}

<main class="container-login">
    <div class="login">
            <form asp-controller="Home" asp-action="CadastrarUsuario">
                
                <h1>Cadastro</h1>
                <label for="email">Email</label>
                <div class="login-inputs">
                    <input type="email" name="email" asp-for="email"/>
                </div>
                
                <label for="nome">Nome</label>
                <div class="login-inputs">
                    <input type="text" name="Nome" asp-for="Nome" />
                </div>
                
                <label for="usuario">Email</label>
                <div class="login-inputs">
                    <input asp-for="usuario" type="text" name="usuario" id="usuario">
                </div>
                
                <label for="senha">Senha</label>
                <div class="login-inputs">
                    <input asp-for="senha" type="password" name="senha" id="senha">
                </div>
                
                <div class="botoes">
                    <button type="submit">Cadatrar</button>
                </div>
            </form>
        </div>
        <div class="box-right-profile">
        </div>
    </div>
</main>