@model TCM.Models.Usuario

@{
    ViewData["Title"] = "Cadastrar";
}

<main class="container-login">
    <div class="login cadastro">
            <form asp-controller="Home" asp-action="CadastrarUsuario">
            <div class="login-cima">
                <div class="cima-esquerda">
                    <a asp-action="Index" asp-controller="Home"><i style="color: #417741; font-size: 38px;" class="bi bi-arrow-left-circle"></i></a>
                </div>
                <div class="cima-direita">
                    <img id="logoLogin" style="width:50px;" src="~/img/LogoDark.png" alt="" />
                </div>
            </div>
                
                <h1>Cadastro</h1>

                <label for="nome">Nome</label>
                <div class="login-inputs">
                    <input class="input-nome" type="text" placeholder="Seu Nome" name="Nome" asp-for="Nome" required/>
                </div>

                <label for="email">Email</label>
                <div class="login-inputs">
                    <input  class="input-email" type="email" placeholder="Seu Email" name="email" asp-for="email" required/>
                </div>

                <label for="usuario">Nome de Usuário</label>
                <div class="login-inputs">
                    <input class="input-usuario" asp-for="usuario" placeholder="Seu Username" type="text" name="usuario" id="usuario" required>
                </div>
                
                <label for="data">Data de nascimento</label>
                <div class="login-inputs">
                    <input onchange="verificaIdade()" class="input-usuario" type="date" name="data" id="data" required>
                    <div class="msgData" id="idadeX"></div>
                </div>
                <label for="cpf">CPF</label>
                <div class="login-inputs">
                    <input oninput="mascara(this)" class="input-usuario" placeholder="000.000.000-00" asp-for="CPF" type="text" name="cpf" id="cpf" maxlength="14" required>
                </div>
                
                <label for="senha">Senha</label>
                <div class="login-inputs">
                    <input class="input-senha" asp-for="senha" placeholder="Sua Senha" type="password" name="senha" id="senha" required>
                </div>
                
                <div class="botoes">
                    <button type="submit" id="btnCad">Cadastrar</button>
                </div>
            </form>
        </div>
</main>