@model TCM.Models.Usuario

@{
    ViewData["Title"] = "Cadastrar";
}

<main class="container-login">
    <div class="login cadastro">
            <form asp-controller="Home" asp-action="CadastrarUsuario">
            <div class="login-cima">
                <div class="cima-esquerda">
                    <a asp-action="Index" asp-controller="Home"><i style="color: #417741; font-size: 38px;" class="bi bi-arrow-left-circle"></i></a>
                </div>
                <div class="cima-direita">
                    <img id="logoNav" src="~/img/LogoLight.png" alt="" />
                </div>
            </div>
                
                <h1>Cadastro</h1>

                <label for="nome">Nome</label>
                <div class="login-inputs">
                    <input type="text" name="Nome" asp-for="Nome" />
                </div>

                <label for="email">Email</label>
                <div class="login-inputs">
                    <input type="email" name="email" asp-for="email"/>
                </div>

                <label for="usuario">Usuário</label>
                <div class="login-inputs">
                    <input asp-for="usuario" type="text" name="usuario" id="usuario">
                </div>
                
                <label for="senha">Senha</label>
                <div class="login-inputs">
                    <input asp-for="senha" type="password" name="senha" id="senha">
                </div>
                
                <div class="botoes">
                    <button type="submit">Cadatrar</button>
                </div>
            </form>
        </div>
        <div class="box-right-profile">
        </div>
</main>