@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Produto>

@{
    List<int> produtosPromo = ViewBag.ProdutosPromo;
    List<PromocaoItem> todosProdutosPromo = ViewBag.TodosProdutosPromo;
}
<div class="container-intro">
    <div class="intro">
        <div class="title-intro">
            <div>
                <img id="can-green" src="~/img/Lata2.png" alt="Alternate Text" />
            </div>
            <div>
                <img id="can-yellow" src="~/img/Lata.png" alt="Alternate Text" />
            </div>
            <h1 id="title-home">Eat<span>Now</span></h1>
        </div>
        <div class="subtitle-intro">
            <p style="color: #5CB338">A melhor comida, no melhor lugar</p>
        </div>
    </div>
</div>


<div id="compra" class="container-produtos">

    @foreach (var categoria in ViewBag.Categorias)
    {
        <div class="categoria">
            <h2 class="categoria-titulo">@categoria.Nome</h2>
            <div class="produtos">
                @foreach (var produto in Model)
                {
                    @if (produto.NomeCategoria == categoria.Nome)
                    {
                        <div class="card-container">
                            
                            <div class="card-image">
                                <img class="card-img-top" src="data:image/png;base64,@produto.ImagemBase64" alt="Imagem do Produto" />
                            </div>

                            <div class="card-meio">
                                <div class="card-nome">
                                    <h2>@produto.NomeProd</h2>
                                    <div class="card-descricao">
                                        <div class="card-estrelas">
                                            @if (produto.Nota < 1)
                                            {
                                                <div class="product-star">
                                                    <i class="bi bi-star"></i>
                                                    <i class="bi bi-star"></i>
                                                    <i class="bi bi-star"></i>
                                                    <i class="bi bi-star"></i>
                                                    <i class="bi bi-star"></i>
                                                    
                                                </div>
                                            }
                                            else if (produto.Nota == 1)
                                            {
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                            }
                                            else if (produto.Nota > 1.1 && produto.Nota <= 1.9)
                                            {
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-half"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                
                                            }
                                            else if (produto.Nota == 2)
                                            {
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                            }
                                            else if (produto.Nota > 2 && produto.Nota <= 2.9)
                                            {
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-half"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                
                                            }
                                            else if (produto.Nota == 3)
                                            {
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                            }
                                            else if (produto.Nota > 3 && produto.Nota <= 3.9)
                                            {
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-half"></i>
                                                <i class="bi bi-star"></i>
                                            }
                                            else if (produto.Nota == 4)
                                            {
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star"></i>
                                            }
                                            else if (produto.Nota > 4 && produto.Nota <= 4.9)
                                            {
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-half"></i>
                                            }
                                            else if (produto.Nota == 5)
                                            {
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                            }
                                        </div>
                                </div>
                                
                            </div>

                  

                           
                                
                                
                            </div>
                            <div class="card-botoes">
                                @if (produtosPromo.Contains(produto.CodProd))
                                {
                                    var itemPromo = todosProdutosPromo.FirstOrDefault(p => p.ProdutoId == produto.CodProd);
                                    if (itemPromo != null)
                                    {
                                        <p style="color:var(--color-font-sec)">De: <span style="text-decoration:line-through">R$@produto.Preco</span></p>
                                        <p style="color:var(--color-font-sec)">Por: R$@itemPromo.PrecoPromo <sub>@itemPromo.Promocao</sub></p>
                                    }
                                }
                                else
                                {
                                    <p style="color: var(--font-color-sec)"><span>R$@produto.Preco</span></p>
                                }
                                <a class="btn-comprar-b" asp-controller="Produto" asp-action="Comprar" asp-route-id="@produto.CodProd">Comprar <i class="bi bi-currency-dollar"></i></a>
                                
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>
<footer>
    <div id="local" class="local">

        <div id="localizacao" class="local_container">
            <h3 class="local_titulo">LOCALIZAÇÃO</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.3249097204507!2d-46.73036142388514!3d-23.520813660105276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef8c1d371ec31%3A0x671c9325c275132e!2sETEC%20Prof%C2%B0%20Basilides%20de%20Godoy!5e0!3m2!1spt-BR!2sbr!4v1715442845203!5m2!1spt-BR!2sbr" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="box_footer">
        <!-- Box redes sociais -->
        <div class="ajuda center-footer">

            <h3 class="titulo_footer">Contato</h3>
            <ul id="listaFooter" class="textos_footer">
                <li class="link_footer"><a class="box_link" href="https://wa.me/5511951565591?text=Gostaria%20de%20ajuda%20sobre%20o%20restaurante%20La%20Pallazo" target="_blank">Ajuda</a></li>
                <li class="link_footer"><a class="box_link" href="https://wa.me/5511951565591?text=Gostaria%20de%20me%20afiliar%20ao%20restaurante%20La%20Pallazo" target="_blank">Afilie-se</a></li>
                <li class="link_footer"><a class="box_link" href="https://www.abf.com.br/politica-de-privacidade/?gad_source=1&gclid=CjwKCAjwoJa2BhBPEiwA0l0ImIDXzbnomRih7tdGbmI4HshyA7kp8OWFLokXQKOH7axB3871Vf8CQBoCs7YQAvD_BwE" target="_blank">Política de Privacidade</a></li>
            </ul>

        </div>
        <!-- Div Loja -->
        <div class="loja_online center-footer">
            <h3 class="titulo_footer">Loja</h3>
            <ul id="listaFooter" class="textos_footer">
                <li class="link_footer"><a class="box_link" href="#section_reserva" target="_blank">Reserva</a></li>
                <li class="link_footer"><a class="box_link" href="#localizacao" target="_blank">Local</a></li>
                <li class="link_footer"><a class="box_link" href="https://servircomrequinte.francobachot.com.br/legislacao-sanitaria-conheca-as-principais-regras-da-anvisa/" target="_blank">Regras</a></li>
            </ul>
            <!-- Div redes sociais -->
        </div>
        <div class="redes_sociais">
            <h3 class="titulo_footer">Redes Sociais</h3>
            <a class="social_ancora" href="https://www.instagram.com/la_pallazo_" target="_blank"><i id="social_insta" class="bi bi-instagram"></i></a>
            <a class="social_ancora" href="https://www.facebook.com" target="_blank"><i id="social_face" class="bi bi-facebook"></i></a>
            <a class="social_ancora" href="https://wa.me/555511951565591?text=Ol%C3%A1%2C%20gostaria%20de%20saber%20mais%20sobre%20o%20restaurante%20La%20Pallazo" target="_blank"><i id="social_what" class="bi bi-whatsapp"></i></a>
        </div>

    </div>

</footer>