@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Produto>

@{
    List<int> produtosPromo = ViewBag.ProdutosPromo;
    List<PromocaoItem> todosProdutosPromo = ViewBag.TodosProdutosPromo;
}

<div class="container-intro">
    <div class="intro">
        <div class="title-intro">
            <div>
                <img id="can-green" src="~/img/Lata2.png" alt="Alternate Text" />
            </div>
            <div>
                <img id="can-yellow" src="~/img/Lata.png" alt="Alternate Text" />
            </div>
            <h1 id="title-home">Eat<span>Now</span></h1>
        </div>
        <div class="subtitle-intro">
            <p style="color: #5CB338">A melhor comida, no melhor lugar</p>
        </div>
    </div>
</div>


<div id="compra" class="container-produtos">

    @foreach (var categoria in ViewBag.Categorias)
    {
        <div class="categoria">
            <h2 class="categoria-titulo">@categoria.Nome</h2>
            <div class="produtos">
                @foreach (var produto in Model)
                {
                    @if (produto.NomeCategoria == categoria.Nome)
                    {
                        <div class="card-container">
                            
                            <div class="card-image">
                                <img class="card-img-top" src="data:image/png;base64,@produto.ImagemBase64" alt="Imagem do Produto" />
                            </div>

                            <div class="card-meio">
                                <div class="card-nome">
                                    <h2>@produto.NomeProd</h2>
                                    <div class="card-descricao">
                                        <div class="card-estrelas">
                                            @if (produto.Nota < 1)
                                            {
                                                <div class="product-star">
                                                    <i class="bi bi-star"></i>
                                                    <i class="bi bi-star"></i>
                                                    <i class="bi bi-star"></i>
                                                    <i class="bi bi-star"></i>
                                                    <i class="bi bi-star"></i>
                                                    
                                                </div>
                                            }
                                            else if (produto.Nota == 1)
                                            {
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                            }
                                            else if (produto.Nota <= 2 && produto.Nota >= 1.1)
                                            {
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                            }
                                            else if (produto.Nota >= 2 && produto.Nota <= 3.1)
                                            {
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                            }
                                            else if (produto.Nota <= 4 && produto.Nota >= 3.1)
                                            {
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star"></i>
                                            }
                                            else if (produto.Nota <= 5 && produto.Nota >= 4.1)
                                            {
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                            }
                                        </div>
                                </div>
                                
                            </div>
                           
                                
                                
                            </div>
                            <div class="card-botoes">
                                @if (produtosPromo.Contains(produto.CodProd))
                                {
                                    var itemPromo = todosProdutosPromo.FirstOrDefault(p => p.ProdutoId == produto.CodProd);
                                    if (itemPromo != null)
                                    {
                                        <p style="color:var(--color-font-sec)">De: <span style="text-decoration:line-through">R$@produto.Preco</span></p>
                                        <p style="color:var(--color-font-sec)">Por: R$@itemPromo.PrecoPromo <sub>@itemPromo.Promocao</sub></p>
                                    }
                                }
                                else
                                {
                                    <p style="color: var(--font-color-sec)"><span>R$@produto.Preco</span></p>
                                }
                                <a class="btn-comprar-b" asp-controller="Produto" asp-action="Comprar" asp-route-id="@produto.CodProd">Comprar <i class="bi bi-currency-dollar"></i></a>
                                
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>