@model TCM.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

<main class="container-login">
    <div class="login">
            <form asp-controller="Home" asp-action="Login">
                @if (ViewData["msg"] != null)
                {
                    @* O HTML Raw pode ser usado para: Procurar e baixar páginas HTML, Procurar e baixar cabeçalhos.*@
                    <p class="alert alert-danger">@Html.Raw(ViewData["msg"])</p>
                }
                <div class="login-cima">
                    <div class="cima-esquerda">
                    <a asp-action="Index" asp-controller="Home"><i style="color: #417741; font-size: 38px;" class="bi bi-arrow-left-circle"></i></a>
                    </div>
                    <div class="cima-direita">
                        <img id="logoLogin" style="width:50px;" src="/img/LogoDark.png" alt="" />
                    </div> 
                </div>
                <h2>Login</h2>
                <div class="login-inputs">
                    <label for="usuario">Email</label>
                    <input class="input-email" placeholder="Seu Email" type="text" name="usuario" id="usuario">
                </div>

                <div class="login-inputs">
                    <label for="senha">Senha</label>
                    <input class="input-senha" placeholder="Sua Senha" type="password" name="senha" id="senha">
                </div>
                <div class="botoes">
                    <button type="submit">Login</button>
                </div>
            </form>
    </div>
</main>