@model TCM.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

<main class="container-login">
    <div class="login">
            <form asp-controller="Home" asp-action="Login">
                @if (ViewData["msg"] != null)
                {
                    @* O HTML Raw pode ser usado para: Procurar e baixar páginas HTML, Procurar e baixar cabeçalhos.*@
                    <p class="alert alert-danger">@Html.Raw(ViewData["msg"])</p>
                }
                <h2>Login</h2>
                <label for="usuario">Email</label>
                <div class="login-inputs">
                    <input class="input-email" placeholder="Seu Email" type="text" name="usuario" id="usuario">
                </div>
                <label for="senha">Senha</label>
                <div class="login-inputs">
                    <input class="input-senha" placeholder="Sua Senha" type="password" name="senha" id="senha">
                </div>
                <div class="botoes">
                    <button type="submit">Login</button>
                </div>
            </form>
    </div>
</main>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>