@using System.Security.Claims
@model TCM.Models.Produto

@{
    ViewData["Title"] = "Adicionar Produto";
}

<div class="container-formulario">
    <form asp-controller="Produto" asp-action="CadastrarProduto" enctype="multipart/form-data" method="post" class="formulario">
        <h2>Criar novo Produto</h2>
        @{
            var serialNumber = User.FindFirst(ClaimTypes.SerialNumber)?.Value;
            Convert.ToInt32(serialNumber);
        }
        <input asp-for="UserId" value="@serialNumber" hidden />
        <div class="formulario-inputs">
            <label>Nome:</label>
            <input asp-for="NomeProd" />
        </div>
        <div class="formulario-inputs">
            <label>Descrição:</label>
            <input asp-for="Descricao" />
        </div>
        <div class="formulario-inputs">
            <label>Categoria:</label>
            <select name="CategoriaId" required>
                <option value="">Selecione</option>
                @foreach (var categoria in ViewBag.Categorias)
                {
                    <option value="@categoria.CodCat">@categoria.Nome</option>
                }
            </select>
        </div>
        <div class="formulario-inputs">
            <label>Preço:</label>
            <input asp-for="Preco" />
        </div>
        <div class="formulario-inputs">
            <label>Quantidade</label>
            <input asp-for="Qtd" />
        </div>
        <div class="formulario-inputs">
            <label>Imagem:</label>
            <input class="form-control" type="file" name="imagem" />
        </div>
        <button type="submit" class="btn-comprar">Cadastrar Produto</button>
    </form>
</div>

