@using System.Security.Claims
@model TCM.Models.Produto

@{
    ViewData["Title"] = "Adicionar Produto";
}
<div class="card">
    <div class="card-body">
        <form asp-action="CadastrarProduto" enctype="multipart/form-data" method="post">
            <div class="container">
                @{
                    var serialNumber = User.FindFirst(ClaimTypes.SerialNumber)?.Value;
                    Convert.ToInt32(serialNumber);
                }
                <input asp-for="UserId" value="@serialNumber" hidden/>
                <div class="form-group">
                    <label>Nome</label>
                    <input class="form-control" asp-for="NomeProd" />
                </div>
                <div class="form-group">
                    <label>Descrição:</label>
                    <input class="form-control" asp-for="Descricao" />
                </div>
                <div class="form-group">
                    <label>Preço</label>
                    <input class="form-control" asp-for="Preco" />
                </div>
                <div class="form-group">
                    <label>Quantidade</label>
                    <input class="form-control" asp-for="Qtd" />
                </div>
                <div class="form-group">
                    <label>Imagem</label>
                    <input class="form-control" type="file" name="imagem" />
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar Produto</button>
            </div>
        </form>
    </div>
</div>
