@{
    ViewData["Title"] = "Comprar";
}

@model TCM.Models.Produto

<div class="container">
    <div class="container-compra">
        <div class="compra-img">
            <img src="data:image/png;base64,@Model.ImagemBase64" alt="Imagem do Produto" />
        </div>
        <div class="compra-infos">
            <h3>@Model.NomeProd</h3>
            <p>@Model.Descricao</p>
            <h3>R$@Model.Preco</h3> 
            <p>Quantidade: @Model.Qtd</p>
            <button class="btn btn-primary" type="submit">Comprar</button>
        </div>
    </div>
</div>