@{
    ViewData["Title"] = "Editar Produto";
}

@model TCM.Models.Produto

<form asp-action="EditarProduto" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <input asp-for="CodProd" readonly/>
        <textarea asp-for="NomeProd" maxlength="80" style="resize: none;" required></textarea>
        <input asp-for="Descricao" required />
        <input asp-for="Preco" type="text" required />
        <input asp-for="Qtd" type="number" required/>
        <input type="file" />
    </div>
    <div>
        <button onclick="return confirm('Deseja confirmar as alterações ?')" class="btn btn-primary" type="submit">Editar</button>
    </div>
</form>