@{
    ViewData["Title"] = "Painel de Promoções";
}

<div>
    <h1>Painel de Promoções</h1>
    <div>
        <a asp-controller="Produto" asp-action="NovaPromocao" class="btn btn-primary">Nova Promoção</a>
        <a asp-controller="Produto" asp-action="DeletarPromocao" class="btn btn-primary">Excluir Promoção</a>
    </div>
</div>