@{
}

@model IEnumerable<Produto>

<div class="container">
    <div class="row">
        @foreach (var produto in Model)
        {
            <div class="card" style="width: 18rem;">
                @*Interpreta a imagem*@
                <img class="card-img-top" src="data:image/png;base64,@produto.ImagemBase64" alt="Imagem do Produto" />
                <div class="card-body">
                    <h5 class="card-title">@produto.NomeProd</h5>
                    <p class="card-text">@produto.Descricao</p>
                    <p class="card-text">R$@produto.Preco</p>
                    <a asp-controller="Produto" asp-action="Comprar" asp-route-id="@produto.CodProd" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        }
    </div>
</div>