@{
    ViewData["Title"] = "Vendas";
}

@{
    int vendas = ViewBag.TotalVendas;
    double total = Convert.ToDouble(ViewBag.Lucro);
    double totalReal = (total - (total * 0.8));
}

<div>
        <h1>Vendas</h1>
        <h2>Total de vendas: @vendas</h2>
        <h2>Lucro total: R$@totalReal</h2>
</div>